NEXT_PUBLIC_SUPABASE_URL=https://pvnopqzexuefugujyyox.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_VmD9KlQ2ElSu5dxHfEqKYQ_fC1nZREQ
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_VmD9KlQ2ElSu5dxHfEqKYQ_fC1nZREQ
